:root {
    --ST1000: #090A0B;
    --ST900: #2B2F36;
    --ST800: #49505A;
    --ST700: #6E7681;
    --ST600: #89909A;
    --ST500: #AAAFB5;
    --ST400: #BEC1C5;
    --ST300: #D5D6D8;
    --ST200: #EAEBEB;
    --ST100: #F7F7F8;

    --STP700: #E1B209;
    --STP600: #EFBD0B;
    --STP500: #F8C90D;
    --STP400: #FBCF23;
    --STP300: #FCD527;
    --STP200: #FCDE45;
    --STP100: #FDE662;

}