/* TODO: Make dynamic with page size */
/* Labels */
.st-label-8 {
    font-size: 8px;
    font-style: italic;
    font-weight: 400;
    color: var(--ST800);
}

.st-label-10 {
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    color: var(--ST800);
}

.st-label-11 {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    color: var(--ST800);
}

.st-label-12 {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    color: var(--ST800);
}

/* Text */
.st-text-10 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST900);
}

.st-text-11 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST900);
}

.st-text-12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST900);
}

.st-text-14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST900);
}

.st-text-16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST900);
}

.st-text-18 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST900);
}

.st-text-20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST900);
}

.st-text-24 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST900);
}

/* Sub Titles */
.st-subtitle-16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST1000);
}

.st-subtitle-20 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST1000);
}

.st-subtitle-24 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST1000);
}

.st-subtitle-32 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST1000);
}

.st-subtitle-40 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST1000);
}

.st-subtitle-48 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST1000);
}

.st-subtitle-60 {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    color: var(--ST1000);
}

/* Titles */

.st-title-20 {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: var(--ST1000);
}

.st-title-24 {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    color: var(--ST1000);
}

.st-title-32 {
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    color: var(--ST1000);
}

.st-title-40 {
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    color: var(--ST1000);
}

.st-title-48 {
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    color: var(--ST1000);
}

.st-title-60 {
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    color: var(--ST1000);
}

.st-title-72 {
    font-size: 72px;
    font-style: normal;
    font-weight: bold;
    color: var(--ST1000);
}